extends ../layout

block content
    section(class="featured")
        div(class="menu-content-wrapper")
            div(class="menu-left") 
                form(action="/files", method="post", enctype="multipart/form-data")
                    label(for="uploadFolder") Folder Name: 
                    input(type="text", name="uploadFolder")
                    label(for="uploadFile") Choose a file: 
                    input(type="file", name="uploadFile", id="uploadFile")
                    input(type="submit") Upload
            div(class="menu-right")
                <a href="#"><img src="/images/Folder_Add.png"></a>
                <a href='#'><img src="/images/Folder_Network.png"></a>
                
                <a href='#'><img src="/images/admin.png"></a>

    section(class="main-content")
        - if(typeof(user) != 'undefined')
          .folders
            - for folder in user.folders.folderMap
              .title=folder
              .files
                each file in user.folders.fileMap[user.folders.folderMap.indexOf(folder)]
                  .file                      
                    form(action="/files/"+user.username+"/"+folder+'~'+file, method="post")
                      a(href='/files/'+user.username+"/"+folder+'~'+file)=file
                      input(type="hidden", name="_method", value="delete")
                      input(type="submit", value="Delete")
