extends ../layout

block content
    section(class="main-content")
        hgroup(class="title")
          h2 Enter your user name and password below.
        - if (typeof(message) != 'undefined')
            ul#errors
                li.error= message
          section(id="loginForm")
            form(method="post", action="/login")
                fieldset
                    legend Log in to Your Account.
                    ol
                        li(class="username")
                            label(for="username") SPSU username:
                            input(type="text", name="username", value="username")
                        li(class="password")
                            label(for="password") Password:
                            input(type="password", name="password")
                    input(type="submit", value="Login")

            a(href="/register") Don't have an Account?