extends ../layout

block content
    section(class="main-content")
        hgroup(class="title")
            h2 Let's get started with HoneyComb
            
        - if (typeof(message) != 'undefined')
            ul#errors
                li.error= message

        form(action="/register", method="post")
            fieldset
                legend Registration Form
                ol
                    li(class="email")
                        label(for="username") SPSU username
                        input(type="text", name="username")

                input(type="submit", value="Register")