
section(class="featured")
    div(class="menu-content-wrapper")
        div(class="menu-left") 
            form(action="...", method="post", enctype="multipart/form-data")
            |Choose a file: <input type="file", name="uploadfile">
            <input type="submit" value="Upload">
        div(class="menu-right")
            <a href="#"><img src="/images/Folder_Add.png"></a>
            <a href='#'><img src="/images/Folder_Network.png"></a>
            
            <a href='#'><img src="/images/admin.png"></a>





section(class="main-content")
    table
        tbody
            tr
                td(colspan='2') table test
            tr
                td column1
                td colmun2
